<div class="col-xs-4 thumbnail-holder-divs">
  <div class="col-xs-12">
    <div href="#" class="thumbnail data-store-thumbnails" data-radio-target="redis-target">
      <img src="/assets/redis-thumbnail.jpg" alt="redis">
    </div>
  </div>
  <div class="col-xs-12">
    <input class="thumbnail-radio" type="radio" name="redis" value="redis" id="redis-target">
  </div>
</div>
<div class="col-xs-4 thumbnail-holder-divs">
  <div class="col-xs-12">
    <div class="thumbnail data-store-thumbnails" data-radio-target="rabbitmq-target">
      <img src="/assets/rabbitmq.jpeg" alt="rabbitmq">
    </div>
  </div>
  <div class="col-xs-12">
    <input class="thumbnail-radio" type="radio" name="rabbitmq" value="rabbitmq" id="rabbitmq-target">
  </div>
</div>
<div class="col-xs-4 thumbnail-holder-divs">
  <div class="col-xs-12">
    <div class="thumbnail data-store-thumbnails" data-radio-target="mongodb-target">
      <img src="/assets/mongodb.jpeg" alt="mongodb">
    </div>
  </div>
  <div class="col-xs-12">
    <input class="thumbnail-radio" type="radio" name="mongodb" value="mongodb" id="mongodb-target">
  </div>
</div>
<div class="col-xs-4 thumbnail-holder-divs">
  <div class="col-xs-12">
    <div class="thumbnail data-store-thumbnails" data-radio-target="postgres-target">
      <img src="/assets/postgres.png" alt="postgres">
    </div>
  </div>
  <div class="col-xs-12">
    <input class="thumbnail-radio" type="radio" name="postgres" value="postgres" id="postgres-target">
  </div>
</div>
<div class="col-xs-4 thumbnail-holder-divs">
  <div class="col-xs-12">
    <div class="thumbnail data-store-thumbnails" data-radio-target="rethinkdb-target">
      <img src="/assets/rethinkdb.jpeg" alt="rethinkdb">
    </div>
  </div>
  <div class="col-xs-12">
    <input class="thumbnail-radio" type="radio" name="rethinkdb" value="rethinkdb" id="rethinkdb-target">
  </div>
</div>
<div class="col-xs-4 thumbnail-holder-divs">
  <div class="col-xs-12">
    <div class="thumbnail data-store-thumbnails" data-radio-target="memcached-target">
      <img src="/assets/memcached.jpeg" alt="memcached">
    </div>
  </div>
  <div class="col-xs-12">
    <input class="thumbnail-radio" type="radio" name="memcached" value="memcached" id="memcached-target">
  </div>
</div>